<% layout('layouts/boilerPlate') %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
<h3 class="mt-4 mb-3">Fill to Add New List</h3>

<br>
<form action="/listings" method="POST" novalidate class="needs-validation">

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="listing[title]" 
               placeholder="Add a title" class="form-control" required />
                <div class="valid-feedback" > Title looks good!</div>
                <div class="invalid-feedback">Enter a valid title </div>
    </div>


    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="listing[description]" 
                  placeholder="Describe your place" 
                  class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Image Link</label>
        <input type="text" name="listing[image]" 
               placeholder="Add Image" 
               class="form-control" >
    </div>

    <div class="row" >

<div class="mb-3 col-5">
        <label class="form-label">Price</label>
        <input  name="listing[price]" 
               placeholder="Enter Price" 
               class="form-control" required>
               <div class="invalid-feedback">Please enter a valid price</div>
    </div>

    <div class="mb-3 col-7">
        <label class="form-label">Country</label>
        <input type="text" name="listing[country]" 
               placeholder="Enter Country" 
               class="form-control" required>
               <div class="invalid-feedback">Enter an existing country</div>
    </div>
    </div>
    

    <div class="mb-3">
        <label class="form-label">Location</label>
        <input type="text" name="listing[location]" 
               placeholder="Enter Location" 
               class="form-control" required>
               <div class="invalid-feedback">Location should be valid</div>
    </div>

     <br> 
    <button type="submit" class="btn-add" >Add</button>
</form>

<br><br>
</div>
</div>